@page "/options.html"
@inherits BasePage

<h1>Important fact</h1>

@if (fact != string.Empty)
{
    <MudAlert Severity="Severity.Info">@fact</MudAlert>
}
else
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="60px" Class="mb-1" />
}

@code {
    [Inject]
    public required HttpClient Client { get; set; }

    private string fact = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resp = await Client.GetAsync("https://uselessfacts.jsph.pl/random.json");
        var json = await resp.Content.ReadAsStringAsync();
        var importantFact = System.Text.Json.JsonSerializer.Deserialize<ImportantFact>(json);

        if (importantFact is not null)
        {
            fact = importantFact.Text;
        }
    }

    record ImportantFact([property: System.Text.Json.Serialization.JsonPropertyName("text")] string Text);
}
