@using System.IO

<div class="d-flex">
    <MudText Class="mt-1">@PanelTitle</MudText>

    <MudBadge Color="@BadgeColor.GetValueOrDefault()"
              Class="d-flex ml-auto"
              Visible="@Visible"
              Overlap Bordered>
        <MudIcon Style="@GetPanelIconStyle()" />
    </MudBadge>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public required string PanelTitle { get; init; }

    [Parameter]
    [EditorRequired]
    public required SvgIcon Icon { get; init; }

    [Parameter]
    [EditorRequired]
    public required Color? BadgeColor { get; init; }

    bool Visible => BadgeColor != null;

    string GetPanelIconStyle()
    {
        var iconUrl = Path.Combine("icons", Icon.ToString().ToLower() + ".svg");

        return $"content: url({iconUrl}); font-size: 1.9rem";
    }
}
