<h1>Login</h1>
<p>Please enter your credentials for Scouts Terrain</p>
<br />

<MudForm @ref="form">
    <MudSelect Label="Branch"
               Required="true"
               RequiredError="Please select your branch"
               Variant="Variant.Outlined"
               @bind-Value="selectedBranch">

        @foreach (var branch in Enum.GetValues<Branch>())
        {
            <MudSelectItem Value="branch">@branch</MudSelectItem>
        }
    </MudSelect>

    <MudNumericField Label="Member Number"
                     Required="true"
                     RequiredError="Please enter your member number"
                     HideSpinButtons="true"
                     Variant="Variant.Outlined"
                     @onkeydown="OnKeyPress"
                     @ref="memberNumberField"
                     @bind-Value="memberNumber" />

    <MudTextField Label="Password"
                  Required="true"
                  RequiredError="Please enter your password"
                  InputType="InputType.Password"
                  Variant="Variant.Outlined"
                  @onkeydown="OnKeyPress"
                  @ref="passwordField"
                  @bind-Value="password" />

    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               OnClick="SignIn"
               Disabled="isLoading"
               Class="mt-2">
        <span>Submit</span>

        @if (isLoading)
        {
            <MudProgressCircular Class="ml-2"
                                 Color="Color.Inherit"
                                 Size="Size.Small"
                                 Indeterminate="true" />
        }
    </MudButton>
</MudForm>
<br />

<MudAlert Severity="Severity.Error" hidden="@(errorMessage == string.Empty)">@errorMessage</MudAlert>

<p style="position: fixed; bottom: 15px; width: 100%; font-style: italic">
    You must be a member of the unit council to use TerrainMap
</p>
