.center-text-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-text-div * {
    text-align: center;
}

.action-buttons-div {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

::deep .mud-badge {
    min-width: 14px !important;
    height: 14px !important;
}
