<h1>Pending Approvals & Awards</h1>
<p>Currently pending approvals & awards for @CurrentProfile.Unit!.Name. Submissions that have been approved but not awarded are displayed at the top, then pending approvals, oldest first.</p>
<br />

<MudExpansionPanels Outlined="false" Elevation="4">
    @if (PendingApprovals.Any())
    {
        @foreach (var pendingApproval in PendingApprovals)
        {
            <PendingApprovalPanel CurrentProfile="@CurrentProfile" Approval="@pendingApproval" />
        }
    }
    else
    {
        <MudExpansionPanel Text="There are no pending submissions" Disabled HideIcon />
    }
</MudExpansionPanels>

@code {
    [Parameter]
    [EditorRequired]
    public required Profile CurrentProfile { get; init; }

    [Parameter]
    [EditorRequired]
    public required IEnumerable<Approval> PendingApprovals { get; init; }
}
