<h1>Pending Approvals & Awards</h1>
<p>Currently pending approvals & awards for @CurrentProfile.Unit!.Name. Submissions that have been approved but not awarded are displayed at the top, then pending approvals, oldest first.</p>
<br />

@if (pendingApprovals is not null)
{
    <MudExpansionPanels Outlined="false" Elevation="4">
        @if (pendingApprovals.Any())
        {
            @foreach (var pendingApproval in pendingApprovals)
            {
                <PendingApprovalPanel CurrentProfile="@CurrentProfile" Approval="@pendingApproval" />
            }
        }
        else
        {
            <MudExpansionPanel Text="There are no pending submissions" Disabled HideIcon />
        }
    </MudExpansionPanels>
}
else
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="395px" Height="60px" Class="mb-1" />
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="395px" Height="60px" Class="mb-1" />
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Width="395px" Height="60px" Class="mb-1" />
}
