.center-text-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center-text-div * {
    text-align: center;
}

.action-buttons-div {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}
