# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish to Chrome Webstore

on:
  push:
    branches:
      - main
    paths:
      - TerrainMap/wwwroot/manifest.json
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install WASM tools
      run: dotnet workload install wasm-tools
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: TerrainMap
        path: ./TerrainMap/bin/Release/publish/browserextension
        if-no-files-found: error
    - name: Zip published files
      run: (cd ./TerrainMap/bin/Release/publish/browserextension && zip -r - .) > TerrainMap.zip
    - name: Publish to Chrome Webstore
      uses: MobileFirstLLC/cws-publish@2.1.1
      with:
        action: 'publish'
        client_id: ${{ secrets.CHROME_CLIENT_ID }}
        client_secret: ${{ secrets.CHROME_CLIENT_SECRET }}
        refresh_token: ${{ secrets.CHROME_REFRESH_TOKEN }}
        extension_id: 'gmchfepajkbnjgfmomdghcgobhideike'
        zip_file: './TerrainMap.zip'
